# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle and generated build output
/build/
/.gradle/

# kate
*.kate-swp

# generated development runtime files
/run/
/run.bat

# other
eclipse
